In [1]:
import bs4,urllib.request as url,pandas as pd,numpy as np

In [2]:
path = 'https://earthquake.usgs.gov/earthquakes/browse/stats.php'

In [3]:
response  =  url.urlopen(path)

In [4]:
page  =  bs4.BeautifulSoup(response,'lxml')
table1 = page.find('table')

In [5]:
head = table1.findAll('th')

In [6]:
head

[<th>Magnitude</th>,
 <th>2000</th>,
 <th>2001</th>,
 <th>2002</th>,
 <th>2003</th>,
 <th>2004</th>,
 <th>2005</th>,
 <th>2006</th>,
 <th>2007</th>,
 <th>2008</th>,
 <th>2009</th>,
 <th>2010</th>,
 <th>2011</th>,
 <th>2012</th>,
 <th>2013</th>,
 <th>2014</th>,
 <th>2015</th>,
 <th>2016</th>,
 <th>2017</th>,
 <th>2018</th>,
 <th scope="row">8.0+</th>,
 <th scope="row">7–7.9</th>,
 <th scope="row">6–6.9</th>,
 <th scope="row">5–5.9</th>,
 <th scope="row">Estimated<br/>Deaths</th>]

In [7]:
t_head = []
for i in head:
    t_head.append(i.text)

In [21]:
t_head
del t_head[0]

In [22]:
rows = t_head[:-5]
columns = t_head[-5:]

In [23]:
rows

['2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018']

In [11]:
columns

['8.0+', '7–7.9', '6–6.9', '5–5.9', 'EstimatedDeaths']

In [12]:
data =table1.findAll('td')

In [14]:
data1 = []
for i in data:
    data1.append(i.text)

In [17]:
arr = np.array(data1)

In [19]:
array_data = arr.reshape(5,19)

In [25]:
pd.DataFrame(array_data,index=columns,columns = rows)

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
8.0+,1,1,0,1,2,1,2,4,0,1,1,1,2,2,1,1,0,1,1
7–7.9,14,15,13,14,14,10,9,14,12,16,23,19,12,17,11,18,16,6,16
6–6.9,146,121,127,140,141,140,142,178,168,144,150,185,108,123,143,127,130,104,117
5–5.9,1344,1224,1201,1203,1515,1693,1712,2074,1768,1896,2209,2276,1401,1453,1574,1419,1550,1455,1674
EstimatedDeaths,231,21357,1685,33819,298101,87992,6605,708,88708,1790,226050,21942,689,1572,756,9624,,,